@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700');

* {
    transition: all 200ms;
}

a {
    color: #1B0E19;
    text-decoration: none;
    border-bottom: 1px solid #E0A146;
}
a:hover {
    /* border-bottom-width: 2px; */
    background-color: #E0A14630;
}

.tooltip, a.tooltip {
    display: inline-block;
    position: relative;
    z-index: 10;
}
a.tooltip {
    text-decoration:none;
    position:relative;
}
a.tooltip .desc, .tooltip .desc {
    display: none;
    transition: none;
}
a.tooltip:hover .desc, .tooltip:hover .desc {
    display:block;
    position:fixed;
    overflow:hidden;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Athelas', 'Georgia', serif;
    color: #1B0E19;
    background-color: #F7F6F2;
    font-size: 1.22em;
    letter-spacing: -0.08ch;
    line-height: 1.2em;
}

.story-page {
    padding: 10vmin 15vmin;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: -0.1ch;
}

h1 {
    font-size: 3em;
}

h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', Helvetica, sans-serif;
    margin-bottom: .5em;
    position: relative;
}

h2::before {
    content: '#';
    width: 0;
    position: absolute;
    left: -2ch;
    opacity: 30%;
    font-size: .8em;
}

story {
    width: 60%;
    display: block;
    overflow: wrap;
}

section {
    margin: 2.5em 0;
}

aside {
    position: fixed;
    top: 10vmin;
    right: 10vw;
}

aside h6 {
    font-family: 'Athelas', 'Georgia', serif;
    font-style: italic;
    font-weight: normal;
    letter-spacing: 0em;
}

aside .links a {
    font-family: 'Montserrat', 'Helvetica', sans-serif;
    color: #1B0E19;
    text-decoration: none;
    font-weight: bold;
    font-size: .8em;
    margin: 0;
    border: none;
    box-sizing: border-box;
    height: 1.5em;
    width: fit-content;
    margin-right: 1ch;
}
aside .links a:hover {
    background: transparent;
    border: none;
    color:#E0A146;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

header headshot {
    position: float;
    float: left;
    margin-right: 2em;
    height: 6em;
}

header headshot .header-image {
    height: 100%;
    border-radius: 50%;
}

header headside h1 {
    margin-top: 0.25em;
}

@media (max-width: 850px) {
    story {
        width: 100%;
    }
    h1 {
        font-size: 13vmin;
    }
    aside {
        position: static;
    }
}